
.pagmovies {
    display: flex;
    gap:10px 20px;
    flex-wrap: wrap;

}

.Movies-item{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  background-color: #5b96e3;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap:10px 20px;
}

.Movies-item .texts{
font-size:smaller;
font-family: 'Times New Roman', Times, serif;
align-items: center;
}

.Movies-item img {
  width: 170px;
  height: 190px;
}

